<!DOCTYPE html>
<html lang="ja" prefix="og: http://ogp.me/ns#">

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <script src="https://kit.fontawesome.com/ea864577d3.js" crossorigin="anonymous"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <meta property="og:title" content="furima">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ページの簡単な説明">
  <meta property="og:url" content="https://furima-28329.herokuapp.com/">
  <meta property="og:site_name" content="furima">
  <meta property="og:image" content="https://previews.123rf.com/images/jamesjoong/jamesjoong1509/jamesjoong150900001/45291525-%E6%9C%A8%E3%81%AE%E3%82%A4%E3%83%A9%E3%82%B9%E3%83%88.jpg">
  <meta property="fb:app_id" content="658033501787548">
</head>

<% if content_for?(:body_attributes) %>
  <%= yield %>
<% end %>>

</html>