<!DOCTYPE html>
<html>

<head>
  <title>Furima</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <script type="text/javascript" src="https://js.pay.jp/v1/"></script>
  <%= stylesheet_link_tag 'application', media: 'all'%>
  <%= javascript_pack_tag 'application' %>
  <script src="https://kit.fontawesome.com/ea864577d3.js" crossorigin="anonymous"></script>
  <%= javascript_include_tag '/app/javascript/packs/application', 'data-turbolinks-track': 'reload' %>
  <script src="/app/javascript/jQuery-3.5.1.min.js"></script>
</head>

<body>
  <%= yield %>
</body>

</html>